* {
    padding: 0;
    margin: auto;
}

header {
    margin: 0;
    border: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

/* -------------------------------------------HEADER */

#logo {
    position: absolute;
    top: 1%;
    left: 1%;
    cursor: pointer;
}

#titulo {
    position: absolute;
    left: 5%;
    top: 2.5%;
    cursor: pointer;
}

#user-h {
    display: flex;
    width: 5vw;
    height: 4vh;
    background-color: rgb(63, 154, 207);
    position: absolute;
    left: 90vw;
    top: 3vh;
    border-radius: 20px;
    cursor: pointer;
}

#ham {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 10vw;
    height: 30vh;
    background-color: rgba(63, 154, 207, 0.788);
    border-radius: 10px;
    z-index: 3;
    padding: 10px;
    left: 88vw;
    top: 7vh;
    font-weight: bold;

}

/* --------------------------------------------------CAROCEL */

.carousel-item img {
    width: 30vw;
    height: 30vh;
    border-radius: 15px;
}

.carousel {
    position: absolute;
    left: 50vw;
    top: 10vh;
}

#mold1 {
    position: absolute;
    top: 10vh;
    left: -2vw;

    border-width: 10px;
    border-style: solid;
    border-color: rgb(63, 154, 207);

    width: 22vw;
    height: 30vh;
    border-radius: 15px;
}

#mold2 {
    position: absolute;
    top: 10vh;
    left: 80vw;

    border-width: 10px;
    border-style: solid;
    border-color: rgb(63, 154, 207);

    width: 21.1vw;
    height: 30vh;
    border-radius: 15px;
}

#propaganda {
    display: flex;
    position: absolute;
    border-radius: 15px;
    top: 10vh;
    left: 20vw;
    width: 30vw;
    height: 30vh;
    background-color: rgb(63, 154, 207);
    font-weight: bold;
    font-size: 20px;
}

#busca {
    position: absolute;
    left: 10vw;
    top: 30vh;
    width: 80vw;
    height: 20vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 43%, rgba(255, 255, 255, 0.815) 100%);
    z-index: 2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#img-busca {
    top: 4vh;
    left: 4vw;
    position: absolute;
    width: 30px;
}

#texto1 {
    top: 4vh;
    left: 6vw;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
}

#busca-geral {
    position: absolute;
    width: 40vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 20px;
    top: 12vh;
    left: 3vw;
    background-image: url(../../../assets/lupa.png);
}

#lupa {
    position: absolute;
    top: 13vh;
    left: 41vw;
}

#buscar-p {
    position: absolute;
    top: 12vh;
    left: 70vw;
    width: 7vw;
    height: 5vh;
    border-radius: 15px;
    background-color: rgb(63, 154, 207);
    border: 0;
}

#buscar-p :hover {
    transition: 1s;
    background-color: rgb(247, 247, 247);
}

/* --------------------------------------------- lista passagens */

#passagens {
    top: 47vh;
    left: 0vw;
    position: absolute;
    width: 100vw;
}

.dest {
    margin-top: 5vh;
    width: 80vw;
    height: 20vh;
    border-radius: 10px;
    background-color: rgb(63, 154, 207);
}

.destino {
    position: absolute;
    top: 15vh;
    left: 35vw;
}

.pida {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    top: 16vh;
    left: 20vw;
    color: #ffffff;
}

.pvolta {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    top: 16vh;
    left: 40vw;
    color: #ffffff;
}

#linha {
    position: absolute;
    top: 20vh;
    left: 15vw;
    width: 40vw;
    border-bottom: 3px solid #ffffff;
}

.reserva {
    position: absolute;
    left: 81vw;
    top: 18vh;
    width: 6vw;
    height: 4vh;
    border-radius: 15px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.datap {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    top: 6vh;
    left: 18vw;
    color: #ffffff;
}

.calendario {
    position: absolute;
    top: 6vh;
    left: 15vw;

}

/* ------------------------------------ CARD RESERVA */

#cardr {
    display: none;
    z-index: 3;
    top: 5vh;
    left: 5vw;
    position: absolute;
    background-color: #ffffffec;
    width: 90vw;
    height: 90vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#lug {
    position: absolute;
    top: 10vh;
    right: 0px;
    width: 900px;
}

#poltrona {
    background-color: rgb(63, 154, 207);
    border-radius: 10px;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 10vh;
    left: 70vw;
}

#tpar {
    position: absolute;
    top: 10vh;
    left: 8vw;
    font-weight: bold;
}

#par {
    position: absolute;
    top: 10vh;
    left: 15vw;
    font-weight: bold;
}

#tdes {
    position: absolute;
    top: 10vh;
    left: 35vw;
    font-weight: bold;
}

#polt {
    position: absolute;
    top: 10vh;
    left: 63vw;

}

#resv {
    background-color: rgb(63, 154, 207);
    position: absolute;
    width: 300px;
    height: 50px;
    top: 80vh;
    left: 40vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#indest {
    position: absolute;
    width: 60px;
    top: 8vh;
    left: 30vw;
    font-weight: bold;
}

#des {
    position: absolute;
    top: 10vh;
    left: 42vw;
    font-weight: bold;
}

#dtp {
    position: absolute;
    top: 20vh;
    left: 7vw;
    font-weight: bold;
}

#dtpass {
    position: absolute;
    top: 20.6vh;
    left: 12vw;
}

#htp {
    position: absolute;
    top: 20vh;
    left: 25vw;
    font-weight: bold;
}

#hor {
    position: absolute;
    top: 20.5vh;
    left: 30vw;
}

#emp {
    position: absolute;
    top: 20vh;
    left: 45vw;
    font-weight: bold;
}

#empr {
    position: absolute;
    top: 20vh;
    left: 53vw;
    font-weight: bold;
}

#txp {
    position: absolute;
    top: 27vh;
    left: 15vw;
    font-weight: bold;
}

#canr {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 2vh;
    left: 87vw;
    border-radius: 10px;
    border: 0;
    background-color: rgb(223, 75, 75);
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#aviaoo {
    position: absolute;
    top: 1vh;
    left: 1vw;
}

#titulocard {
    font-weight: bold;
}


/* --------------------------------------- INFO FORM */

#nf {
    position: absolute;
    top: 33vh;
    left: 11vw;
    font-weight: bold;
    font-size: 20px;
}

#nfin {
    position: absolute;
    top: 36vh;
    left: 11vw;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(63, 154, 207);
}

#cp {
    position: absolute;
    top: 45vh;
    left: 11vw;
    font-weight: bold;
    font-size: 20px;
}

#cpin {
    position: absolute;
    top: 48vh;
    left: 11vw;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(63, 154, 207);
}

#ps {
    position: absolute;
    top: 33vh;
    left: 33vw;
    font-weight: bold;
    font-size: 20px;
}

#psin {
    position: absolute;
    top: 36vh;
    left: 33vw;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(63, 154, 207);
}

#dn {
    position: absolute;
    top: 45vh;
    left: 33vw;
    font-weight: bold;
    font-size: 20px;
}

#dnin {
    position: absolute;
    top: 48vh;
    left: 33vw;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(63, 154, 207);
}

#nc {
    position: absolute;
    top: 55vh;
    left: 20vw;
    font-weight: bold;
    font-size: 20px;
}

#ncin {
    position: absolute;
    top: 58vh;
    left: 20vw;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(63, 154, 207);
}

#inf {
    position: absolute;
    top: 75vh;
    left: 38vw;
}

.volt {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 2.8%;
    left: 22%;
}

.volt>button {
    width: 150px;
    height: 45px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(63, 154, 207);
    border: 2px solid rgb(63, 154, 207);
    border-radius: 15px;
    color: white;
}

a {
    width: 1000px;
    background-color: antiquewhite;
}