*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(163, 223, 203);
    font-family: Arial, Helvetica, sans-serif;
}

.inp{
    width: 300px;
    height: 40px;
    background-color: rgb(204, 204, 200);
    border: 1px;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}

#img-pagina{
    position: absolute;
    left: 20%;
    top: 30%;
}

/* ---------------------------------------------------------------------------------- CARD LOGIN */
#content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border-radius: 5px;
}

#content::before{
content: "";
position: absolute;
background-color: aqua;
width: 100%;
height: 100%;
border-radius: 5px
}

#linha1{
    z-index: 10;
}


#card-login{
    border-radius: 5px;
    left: 70vw;
    bottom: 200px;
    position: absolute;
    width: 20vw;
    height: 50vh;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form{
    position: relative;
    left: 30px;
    top: 20px;
}

#btLogin{
    position: absolute;
    bottom: -50px;
    left: 35px;
    width: 250px;
    height: 40px;
    background-color: rgb(95, 175, 149);
    border: 0;
    border-radius: 5px;
}
#btLogin:hover{
    transition: 0.3s;
    background-color: rgb(123, 228, 195);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* ----------------------------------------------------------------------------------------- / */