
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 246, 250);
}


.p{
    display: flex;
    flex-direction: wrap;
    width: 1750px;
    margin-top: 6.8%;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    height: 750px;


}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    gap:10px;
    padding-right: 70px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(211, 236, 253);
    box-shadow: rgba(78, 76, 76, 0.4) 0px 2px 4px 0px; 
}

#spanAlert{
    background-color: rgb(253, 159, 159);
    padding: 2%;
    border-radius: 15px;
    margin-left: 3%;
    font-weight: bold;
    color: rgb(228, 17, 17);
    margin-top: -3.5%;
    font-size: 30px;
}

.logo{
    margin-left: 15%;
    margin-top: 15%;
}
#logo{
    width: 150px;
}


.text{
    color: #03379f;
    margin-left: -10%;
    font-weight: bolder;
    font-size: 35px;
}

.input{
    gap: 2px;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;

}
.inp{
    border: none;
    border-bottom: solid 3px #5589F3;
    padding: 2%;
    width: 420px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    background-color: transparent;
}

::-webkit-input-placeholder {
    color:#03379f;
  }
  /* Firefox 19+ */
  ::-moz-placeholder {
    color:#03379f;
  }
  /* IE 10+ */
  :-ms-input-placeholder {
    color:#03379f;
  }
  /* Firefox 18- */
  :-moz-placeholder {
    color:#03379f;
  }
.inp:hover{
    transition: 0.3s;
    cursor: pointer;
    padding-left:  5.5%;
}

#login{
    background-color: transparent;
    color:#03379f;
    margin-left: 5%;
    font-weight: bold;
    font-size: 30px;
    padding: 2%;
    width: 200px;
    border-radius: 100px;
    border: solid 3.5px #03379f;

}

.carousel-item img {
    width: 100%;
    height: 750px;
    border-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.T{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: #00000093;
    font-size: 20px;
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.carousel {
    z-index: 1;
    position: absolute;
    left: 0vw;
    top: 0vh;
}


#login:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #5589F3;
    border: solid 3.5px #5589F3;

    color: white;
}
.imginput{
    margin-bottom: 2%;
    width: 50px;
}

.text2{
    font-weight: bold;
    font-size: 70px;
    color: rgb(255, 255, 255)    ;
}

.textao{
    color: rgb(255, 255, 255);
    height: 100%;
    width: 80%;
    font-size: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-image: url(./assets/10966.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(78, 76, 76, 0.4) 0px 2px 4px 0px; 
}

.divtext{
    display: flex;
    margin-top: 2%;
    margin-left: 4.5%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

a{
    color: black;
}

.model{
    display: none;
}