@import url('../../global/style01.css');

.cardsPassageiro {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: left;
    gap: 2%;
    height: 100%;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    overflow-y: scroll;
    background-color: black;
}

.cm {
    height: 63.5vh;
    color: aliceblue;
    padding: 20px;
    width: 90%;
    margin-left: 4%;
    margin-top: 7.5%;
    border-radius: 15px;
}

.cardsPassageiro>div {
    display: flex;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 1.5%;
    height: 20vh;
    justify-content: center;
    flex-direction: column;
    color: black;
    text-align: left;
    /* border: 3px solid transparent; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.divImp {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
    color: aliceblue;
    align-items: center;
}

#imgPassageiro {
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}