@import url('../../global/style01.css');

.cardsPassageiro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 100%;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    overflow-y: scroll;
    background-color: black;
}

.cm {
    height: 63.5vh;
    color: aliceblue;
    padding: 20px;
    width: 90%;
    margin-left: 4%;
    margin-top: 7.5%;
    border-radius: 15px;
}